* {
    margin: 0px;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
}

body {
    background: url("../../img/redcrab/htmlbg.png") repeat;
}

#top {
    height: 72px;
    background: url("../../img/redcrab/header_bg.png") repeat-x;
}

#holder {
    height: 165px;
    background: url("../../img/redcrab/content-holder.png") repeat-x;
}

.image_wrapper {
    background-color: white;
    margin: 8px;
    padding: 10px 0px;
    width: 234px;
    float: left;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 2px 2px 5px rgb(151, 143, 143);
    box-shadow: 1px 1px 3px rgb(151, 143, 143);
}

.image_wrapper iframe {
    border: 0;
    width: 214px;
    margin: 0 auto;
}