*{margin: 0px;}
.top{height: 72px; background: url("../../img/redcrab/header_bg.png") repeat-x;}
.holder{height: 165px; background: url("../../img/redcrab/content-holder.png") repeat-x;}
.content{background: url("../../img/redcrab/htmlbg.png") repeat;}